HELP.md
../rest1/.gradle
../rest1/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
../rest1/.idea
*.iws
*.iml
*.ipr
../rest1/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Package Files ###
### *.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Exclusions ###
!../rest1/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
